@{
    ViewData["Title"] = "Администрирование";
}
<div class="text-center">
    <h1 class="display-4">Администрирование</h1>
    <div>
        <h1 class="display-6">Запросы доступа</h1>
        <table class="center">
            <thead>
                <tr>
                    <th>Запрос</th>
                    <th>Опции</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select id="prAccs"></select>
                    </td>
                    <td>
                        <p><input type="button" id="gAccB" value="Разрешить" /></p>
                        <p><input type="button" id="dAccB" value="Запретить" /></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h1 class="display-6">Продукты</h1>
        <table class="center">
            <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Дата создания</th>
                    <th>Опции</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" id="prN">
                    </td>
                    <td></td>
                    <td>
                        <input type="button" id="cPrB" value="Создать" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="prs"></select>
                    </td>
                    <td>
                        <label id="prCrDt"></label>
                    </td>
                    <td>
                        <input type="button" id="dPrB" value="Удалить" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h1 class="display-6">Типы документации</h1>
        <table class="center">
            <thead>
                <tr>
                    <th>Тип документации</th>
                    <th>Опции</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" id="dtN">
                    </td>
                    <td>
                        <input type="button" id="cDtB" value="Создать" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="dts"></select>
                    </td>
                    <td>
                        <input type="button" id="dDtB" value="Удалить" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h1 class="display-6">Форматы файлов</h1>
        <table class="center">
            <thead>
                <tr>
                    <th>Формат файла</th>
                    <th>Опции</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" id="ffN">
                    </td>
                    <td>
                        <input type="button" id="cFfB" value="Создать" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="ffs"></select>
                    </td>
                    <td>
                        <input type="button" id="dFfB" value="Удалить" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h1 class="display-6">Сочетания тип-формат</h1>
        <table class="center">
            <thead>
                <tr>
                    <th>Тип документации</th>
                    <th>Формат файла</th>
                    <th>Опции</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select id="dfDts"></select>
                    </td>
                    <td>
                        <select id="dfFfs"></select>
                    </td>
                    <td>
                        <p><input type="button" id="cDfB" value="Добавить" /></p>
                        <p><input type="button" id="dDfB" value="Удалить" /></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="~/js/admin.js" asp-append-version="true"></script>
</div>