@{
    ViewData["Title"] = "Вход в систему";
}
<div class="text-center">
    <h1 class="display-4">Вход в систему</h1>
    <p>
        <label>Логин:</label><br />
        <input id="login" type="text" autocomplete="off" size="20" maxlength="20" />
    </p>
    <p>
        <label>Пароль:</label><br />
        <input id="password" type="password" size="20" />
    </p>
    <p>
        <input type="button" id="regBut" value="Регистрация" />
        <input type="button" id="authBut" value="Вход" />
    </p>
    <label id="errMsg" style="color:red"></label>
    <script src="~/js/auth.js" asp-append-version="true"></script>
</div>
