@{
    ViewData["Title"] = "Управление документацией";
}
<div class="text-center">
    <h1 class="display-4">Управление документацией</h1>
    <table class="center">
        <thead>
            <tr>
                <th>Продукт</th>
                <th>Формат документации</th>
                <th>Дата изменения</th>
                <th>Изменивший пользователь</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id="products"></select>
                </td>
                <td>
                    <select id="formats"></select>
                </td>
                <td>
                    <label id="lastModified"></label>
                </td>
                <td>
                    <label id="lastModifier"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="reqAccBut" value="Запросить доступ" />
                </td>
                <td></td>
                <td>
                    <input type="file" id="uploadFile" />
                    <input type="button" id="uploadBut" value="Загрузить" />
                </td>
                <td>
                    <input type="button" id="downloadBut" value="Скачать" />
                </td>
            </tr>
        </tbody>
    </table>
    <script src="~/js/documents.js" asp-append-version="true"></script>
</div>